.sliderHolder {
  width: 150px;
  height: 100px;

  :global {
    .slick-prev {
      left: 5px;
      z-index: 1;
    }

    .slick-next {
      right: 5px;
    }
  }
}

.image-sm {
  width: 150px;
  height: 100px;
}
