
.flexContainer {
  display: flex!important;
  flex-flow: column;
  width: 100%;
}

.flexRow {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.tableColumn {
  height: 100%;
  overflow-y: auto;
}

.mapColumn {
  height: 100%;
}

.sidebar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: block;
    width: 100%!important;
  }
}
