.mainSegment {
	left: 150px;
}

.header {
	* {
		font-weight: normal;
	}

	strong {
		font-weight: bold;
		font-size: 16px;
	}

	.address {
		padding: 13px 0 !important;

		img {
			float: right;
			margin-right: 10px;
		}
	}

	background: #eee;
	margin: 10px 0 !important;
	padding: 20px 20px !important;

	.description, .title {
		margin: 0px;
	}

	.details > span {
		display: inline-block;
		font-weight: normal;

		&:not(:first-child) {
			border-left: 1px solid #ddd;
		}
	}

	.btnGroup {
		display: flex !important;
		align-items: center;
	}

	.menuItems {
		display: inline-flex !important;
		margin: 5px 40px 0 40px !important;
		border-top: 1px dotted !important;
		width: calc(100% - 40px);
	}
}