// eslint-disable
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 10px 10px;

  .content {
    flex: 1;
    width: 100%;
  }
}
