// eslint-disable
@import '~theme/style';

.app {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  margin: 0;

  .content {
    display: flex;
    flex: 1;
    width: 100%;
  }
}
